/* BASE */
html {
  scroll-behavior: smooth; //плавная прокрутка по якорным ссылкам
}

html,
body {
  min-height: 100vh;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--white);
  background-color: var(--bluedark);
}

section {
  margin-top: 120px;
}

h1,
.title {
  font-family: var(--measure);
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -3px;
  color: var(--white);
  text-transform: uppercase;
}

.title {
  text-transform: none;
}

h2 {
  font-family: var(--roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);
}

h3 {
  font-family: var(--white);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--disabled);
}

.footer {
  margin-top: auto;
}