/* MEDIA QUERY */
@media (min-width: 360px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 480px) {
  .container {
    max-width: 420px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 536px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 972px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 984px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1240px;
  }
}