/* VARS */
:root {
  --roboto: 'Roboto Condensed';
  --measure: 'Measure';
  --black: #000;
  --bluedark: #2F4157;
  --blue: #63758B;
  --bluelight: #BBE4F6;
  --white: #fff;
  --limklight: #63758B;
}