/* VARS */
:root {
  --roboto: 'Roboto Condensed';
  --measure: 'Measure';
  --black: #000;
  --bluedark: #2F4157;
  --blue: #63758B;
  --bluelight: #BBE4F6;
  --white: #fff;
  --disabled: #63758B;
  --yellow: #EAE113;
  --gray: #757575;
  --error: #EA1313;
  --360: 360px;
  --480: 480px;
  --576: 576px;
  --768: 768px;
  --922: 922px;
  --1024: 1024px;
  --1280: 1280px;
}