.about_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.about_row1 {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.about_text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about_row2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.about_item_num {
  font-family: var(--measure);
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -3px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .about_row2 {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .about_item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .about_item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .about_item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

}

@media (max-width: 480px) {
  .about_row1 {
    display: flex;
    flex-direction: column;
  }

  .about_row1 h2 {
    margin-bottom: 20px;
  }

  .about_row2 {
    display: flex;
    flex-direction: column;
  }

  .about_item:nth-child(2) {
    order: 0;
  }

  .about_item:nth-child(3) {
    order: 1;
  }

  .about_item:nth-child(4) {
    order: 2;
  }

  .about_item:nth-child(1) {
    order: 3;
  }


}