.address_wrapper {
  display: flex;
}

.address_text {
  font-size: 24px;
}

.address_hours {
  font-family: Measure;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}