.footer {
  padding: 40px 0;
  background-color: var(--black);
  color: var(--white);
}

.footer a {
  color: var(--white);
}

.nav_item {
  display: flex;
  flex-direction: column;
}

.footer_item {
  display: flex;
}

.footer_item {
  display: flex;

}