.gallery_wrapper{
  position: relative;
}

.gallery .title{
position: absolute;
left: 0;
top: -5px;
}

.gallery_items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  
}

.gallery_img {
  // border: 2px solid var(--disabled);
}

.gallery_img:nth-child(1) {
  grid-column: 1/6;
  grid-row: 2/7;
}

.gallery_img:nth-child(2) {
  grid-column: 2/6;
  grid-row: 2/7;
}

.gallery_img:nth-child(3) {
  grid-column: 3/6;
  grid-row: 1/7;
}

.gallery_img:nth-child(4) {
  grid-column: 1/6;
  grid-row: 3/7;
}

.gallery_img:nth-child(5) {
  grid-column: 4/6;
  grid-row: 3/7;
}

.gallery_img:nth-child(6) {
  grid-column: 5/6;
  grid-row: 4/7;
}

.gallery_img:nth-child(7) {
  grid-column: 1/6;
  grid-row: 6/7;
}

.gallery_img:nth-child(8) {
  grid-column: 2/6;
  grid-row: 5/7;
}

.gallery_img:nth-child(9) {
  grid-column: 3/6;
  grid-row: 5/7;
}