.header {
  background-color: #fff;
  padding: 20px;
}

.header_top div {

  display: flex;
  justify-content: space-between;

}

.topnav_list {
  display: flex;
  column-gap: 20px;
}

.topnav_item:nth-child(3) {
  margin-right: 215px;
}

.topnav_link {
  text-transform: uppercase;
}