.header {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.logo {
  display: flex;
  align-items: center;
}

.topnav_list_wrapper {
  display: flex;
  justify-content: space-between;
}

.topnav_list {
  display: flex;
  gap: 20px;
}

.header_top {
  display: flex;
  align-items: center;
  height: 44px;
}

.topnav_link {
  text-transform: uppercase;
}

.menu_button {
  padding: 10px 10px;
  display: none;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  // gap: 2px;
  width: 44px;
  height: 44px;
  border: 1px solid var(--bluedark);
  border-radius: 4px;
  margin-left: auto;
  background-image: url(../img/menu/icon-lines.svg);
  background-repeat: no-repeat;
  background-position: center center;
}


.active.menu_button {
  background-image: url(../img/menu/icon-x.svg);
}

// .button_line {
//   height: 2px;
//   width: 100%;
//   // border: 1px solid var(--bluedark);
//   background-color: var(--bluedark);
// }

// .active .button_line:nth-child(1) {
//   transform: rotate(45deg);
// }

// .active .button_line:nth-child(2) {
//   transform: rotate(-45deg);
// }

@media (max-width: 991.99px) {

  .header_top {
    position: relative;
  }

  .topnav_list_wrapper {
    display: none;
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: var(--white);
    border-top: 1px solid var(--bluedark);
  }

  .topnav_list {
    flex-direction: column;
  }

  .menu_button {
    display: flex;
  }
}