.header {
  background-color: #fff;
  padding: 20px;
}

.header_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.topnav {
  display: flex;
  justify-content: space-between;
}

.topnav_list {
  display: flex;
  column-gap: 20px;
}


.topnav_link {
  text-transform: uppercase;
}