.hero {
  background-image: url('../img/hero/hero-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  margin-top: 0;
}

@media (max-width: 1024px) {
  .hero {
    background-image: url('../img/hero/hero-tablet.png');
  }
}

@media (max-width: 768px) {
  .hero {
    background-image: url('../img/hero/hero-mobile.png');
  }
}

.hero_title {
  margin-top: 318px;
}

.hero_description {
  font-size: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  max-width: 484px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.hero_wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.heroa_text {
  grid-column: 2/5;
}