.hero {
  background-image: url('../img/hero-image-full.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(180deg, rgba(47, 65, 87, 0.60) 0%, #2F4157 100%), url(<path-to-image>), lightgray 50% / cover no-repeat, url(<path-to-image>), lightgray 50% / cover no-repeat, url(<path-to-image>), lightgray 50% / cover no-repeat, url(<path-to-image>), lightgray 0px -186.283px / 100% 221.453% no-repeat, url(<path-to-image>), lightgray 50% / cover no-repeat;
  height: 580px;
  margin-top: 0;
}

.hero_title {
  margin-top: 318px;
}

.hero_description {
  font-size: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  max-width: 484px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.hero_wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.heroa_text {
  grid-column: 2/5;
}