.management_wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.management_items {
  display: flex;
  flex-direction: column;
}

.management_item {
  border-bottom: 1px solid var(--disabled);
}

.management_header {
  color: var(--bluelight);
  line-height: 130%;
}

.management_item {
  padding-bottom: 10px;
  padding-top: 10px;
}

.management_text {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (max-width: 768px) {
  .management_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .management_items {
    grid-column: 2/4;
  }

}