.news_page_wrapper{
display: flex;
flex-direction: column;
row-gap: 40px;
}
.news_img img{
  max-width: 100%;
  width: 100%;
}
.news_item{
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}
.news_img{
  grid-column: 1/2;
}
.news_text{
  margin-right: 167px;
}
.news_content{
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width:1024px){
  .news_text{
    margin-right: 0;
  }
}
@media (max-width:768px) {

  .news_item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .news_content{
    row-gap: 0;
    justify-content: space-between;
  }
}
@media (max-width:576px) {
  .news_item{
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .news_img{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .news_content{
    grid-column: 1/2;
    grid-row: 2/3;
    row-gap: 10px;
  }
  .news_link{
    width: 100%;
  }
}