.policy_wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}
.policy_title{
  grid-column: 1/3;
}
.policy_text{
  grid-column: 3/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.policy_text p:nth-child(1){
  grid-column: 1/2;
}
@media (max-width:768px){
  .policy_text{
    display: flex;
   flex-direction: column;
   row-gap: 20px;
  }
}
@media (max-width:576px) {
  .policy_wrapper{
   display: flex;
   flex-direction: column;
  }
  .policy_text{
    display: flex;
   flex-direction: column;
  }
}