.products {
  // margin-top: 60px;
}

.products_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
}

.products_title {
  margin-bottom: -24px;
}

.products_item:nth-child(1) {
  align-self: self-end;
}

.products_item:nth-child(2) {
  align-self: self-end;
}

.product_text {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .products_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
  }

  .products_item:nth-child(3) {
    grid-column: 2/4;
    grid-row: 1/2;
  }

  .products_item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .products_item:nth-child(1) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}