
// reviews
.reviews_title {
  margin-bottom: -29px;
}

.reviews_wrapper .title {
  text-indent: 40%;
}



.rewiews_slider.swiper {
  margin-left: 40%;
  margin-top: 60px;
}

.slide_text {
  max-width: 484px;
}

.swiper-pagination.slider_pagination {
  position: static;
  font-family: var(--measure);
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -13px;
  margin-left: 40%;
  max-width: 109px;
  max-height: 80px;
  vertical-align: middle;
  margin-top: 15px;
}

.reviews_button {
  margin-left: 40%;
  min-width: 60%;
  transform: translateX(-150px);
}

.reviews_button {
  display: flex;
  column-gap: 20px;
  margin-top: 30px;

}

.swiper-slide.reviews_slide {
  display: flex;
  flex-direction: column;
}

.button_prev,
.button_next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--disabled);
  height: 44px;
  cursor: pointer;
  width: 126px;
}

.stars svg {
  fill: var(--disabled);
  stroke: var(--disabled);
}

.stars svg:nth-child(1) {
  fill: var(--bluelight);
  stroke: var(--bluelight);
}

.stars svg:nth-child(2) {
  fill: var(--bluelight);
  stroke: var(--bluelight);
}

.stars svg:nth-child(3) {
  fill: var(--bluelight);
  stroke: var(--bluelight);
}

.stars svg:nth-child(4) {
  fill: var(--bluelight);
  stroke: var(--bluelight);
}

@media (min-width:768px) {
  .reviews_button {
    // margin-left: 0;
  }

  .button_prev,
  .button_next {
    // width: 48px;
    padding: 14px 40px;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 576px) {
  .vacancyjob_wrapper {
    display: flex;
    flex-direction: column;
  }

  .reviews_title {
    margin-bottom: 0;
  }

  .reviews_wrapper .title {
    text-indent: 0;
    margin-top: 20px;
  }

  .btn_vacancyjob_wrapper {
    display: flex;
  }

  .rewiews_slider.swiper {
    margin-left: 0;
  }

  .slider_pagination {
    font-size: 44px;
  }
  .reviews_wrapper{
    position: relative;
  }

  .swiper-pagination.slider_pagination {
    position: absolute;
    top: 88%;
    left: 40%;
    margin-left: 0;
    font-size: 44px;
    letter-spacing: -3px;
  }

  .reviews_button {
    margin-left: 0;
    justify-content: space-between;
    transform: translateX(0);
  }

}

@media (max-width: 480px){
  .swiper-pagination.slider_pagination {
    top: 88%;
    left: 36%;
  }
 
}

@media (max-width: 360px){
  .swiper-pagination.slider_pagination {
    top: 89%;
    left: 32%;
  }
  .reviews_button div{
    width: 112px;
  }
}