.sendreviews .container {
  background-image: url(../img/sendreviews/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sendreviews_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sendreviews_wrapper .title {
  grid-column: 3/6;
  margin-top: 189px;
}

.sendreviews_description {
  grid-column: 3/6;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 484px;
}

.btn_sendreviews_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.btn_sendreviews {
  grid-column: 3/5;
}

@media (max-width: 768px) {
  .sendreviews .container {
    background-image: none;
  }

  .sendreviews {
    background-image: url(../img/sendreviews/768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sendreviews_wrapper .title {
    margin-top: 274px;
  }
}


@media (max-width: 576px) {
  .sendreviews {
    background-image: url(../img/sendreviews/480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sendreviews_wrapper {
    display: flex;
    flex-direction: column;
  }

  .sendreviews_wrapper .title {
    margin-top: 289px;
  }

  .btn_sendreviews_wrapper {
    display: flex;
  }
}

@media (max-width: 360px) {
  .sendreviews_wrapper .title {
    margin-top: 258px;
  }
}