.vacancy .container {
  background-image: url(../img/vacancy/bg_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 189px;
}

.vacancy_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.vacancy .title {
  grid-column: 3/6;
  text-transform: none;
}

.vacancy_description {
  grid-column: 3/6;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.btn_vacancy_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.btn_vacancy {
  grid-column: 3/5;
}

@media (max-width: 768px) {
  .vacancy .container {
    background-image: none;
    padding-top: 0;
  }

  .vacancy {
    background-image: url(../img/vacancy/bg_home.jpg);
    background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;
    padding-top: 274px;
    background-size: auto 62%;
    background-position: 42% top;
  }

  .btn_vacancy {
    grid-column: 3/6;
  }
}

@media (max-width: 576px) {
  .vacancy .container {
    background-image: none;
    padding-top: 0;
  }

  .vacancy {
    background-image: url(../img/vacancy/bg_home.jpg);
    background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;
    padding-top: 274px;
    background-size: auto 58%;
    background-position: 51% top;
  }


  .vacancy_wrapper {
    display: flex;
    flex-direction: column;
  }

  .btn_vacancy_wrapper {
    display: flex;
  }
}

@media (max-width: 360px) {
  .vacancy .container {
    background-image: none;
    padding-top: 0;
  }

  .vacancy {
    background-image: url(../img/vacancy/bg_home.jpg);
    background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;
    padding-top: 258px;
    background-size: auto 58%;
    background-position: 51% top;
  }

  .vacancy_description {
    line-height: 130%;
  }
}