.vacancy .container {
  background-image: url(../img/vacancy/bg_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 189px;
}

.vacancy_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.vacancy .title {
  grid-column: 3/6;
  text-transform: none;
}

.vacancy_description {
  grid-column: 3/6;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 24px;

}

.btn_vacancy_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.btn_vacancy {
  grid-column: 3/5;
}

@media (max-width: 768px) {
  .btn_vacancy {
    grid-column: 3/6;
  }
}

@media (max-width: 480px) {
  .vacancy_wrapper {
    display: flex;
    flex-direction: column;
  }

  .btn_vacancy_wrapper {
    display: flex;
  }
}

@media (max-width: 360px) {
  .vacancy {
    background-image: url(../img/vacancy/vacancy-360.jpg);
    padding-top: 258px;
  }

  .vacancy_description {
    line-height: 130%;
  }
}