.vacancy {
  background-image: url(../img/vacancy/vacancy.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 189px;
  // height: 560px;
}

.vacancy .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.vacancy_wrapper {
  grid-column: 3/6;
}

.vacancy .title {
  text-transform: none;
}

.vacancy_description {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 24px;

}